<% layout('layouts/boilerplate') %> 
<div class="row">
    <h1 class="text-center">Edit <%= campground.title %></h1>
    <div class="col-6 offset-3">
        <!-- 'novalidate' tells the browser not to validate, we coded it ourselves -->
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post" novalidate class="validated-form" enctype="multipart/form-data">
            <!-- Title input -->
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" value="<%= campground.title %>" required>
            </div>
            <!-- Image input + upload -->
            <div class="mb-3">
                <label for="formFileMultiple" class="form-label">Add photos</label>
                <input name="imageFromMulter" class="form-control" type="file" id="formFileMultiple" multiple>
            </div>
            <!-- Description text area -->
            <div class="mb-3">
               <label class="form-label" for="description">Description</label>
               <textarea class= "form-control" type="text" id="description" name="campground[description]" required><%= campground.description %></textarea>
            </div>
            <!-- Price box -->
            <div class="mb-3">
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input class="form-control" type="text" name="campground[price]" aria-label="Amount (to the nearest dollar)"
                    value="<%= campground.price %>" required>
                </div>
            </div>
            <!-- Location input -->
            <div class="mb-3">
               <label class="form-label" for="location">Location</label>
               <input class= "form-control" type="text" id="location" name="campground[location]"
                value="<%= campground.location %>" required>
            </div>
            <div class="mb-3">
            <% campground.images.forEach((image, i) => { %>
                <!-- The .thumbnail is a virtual property we defined as part of the ImageSchema -->
                <img src="<%= image.thumbnail %>" class="img-thumbnail">
                <div class="form-check-inline">
                    <input type="checkbox" id="image-<%= i %>" name="deleteImages[]" value="<%= image.filename %>">
                </div>
                <label for="image-<%= i %>">Delete</label>
            <% }) %> 
            </div>
            <!-- Submit button -->
            <div class="mb-3">
                <button class="btn btn-success">Save</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground._id %>">Back</a>
    </div>
</div>